<?xml version="1.0"?>
<launch>
  <!-- 使用仿真时间 -->>
  <param name="/use_sim_time" value="true" />
  <!-- 启动Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find mecanum_robotsim)/world/Mecanum_world.wbt"/>
  </include>

</launch>